<div class="container">
  <div>
    <%= form_tag("/schools", method: "get") do %>
      <%= text_field_tag(:search_text) %>
      <%= select_tag(:search_prefecture, options_for_select(@prefectures, @search_prefecture)) %>
      <%= submit_tag("搜索", class: "btn btn-primary") %>
    <% end %>
  </div>

  <div id="card_container" class="card-deck" style="width: 100%;padding: 20px">
    <% @schools.each do |school| %>
      <div class="card text-center" style="min-width: 25%;max-width: 30%">
        <img class="school-image card-img-top" src="<%= school.img_url_file_name %>" alt="school image">
        <div class="card-body">
          <h4 class="card-title"><%= school.name %></h4>
          <p class="card-text"><%= school.description %></p>
          <a href="/schools/<%= school.id %>" class="btn btn-primary"
             style="text-decoration: none;color: #fff;cursor: pointer">学校详情</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'schools', media: 'all' %>
