<div class="container">
  <h2 style="margin: 30px;text-align: center"><%= @school.name %></h2>
  <div class="bd-callout bd-callout-blue">
    <h4 style="margin-bottom: 10px;text-align: center" class="color-blue">基本情报</h4>
    <div class="row">
      <div class="col-8">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><i class="fa fa-phone space-name color-blue"><span>电话号码:</span></i><%= @school.tel %></td>
            <td><i class="fa fa-fax space-name color-blue"><span>FAX:</span></i><%= @school.fax %></td>
          </tr>
          <tr>
            <td><i class="fa fa-envelope space-name color-blue"><span>E-Mail:</span></i><%= @school.email %></td>
            <td><i class="fa fa-mail-forward space-name color-blue"><span>邮政编码:</span></i><%= @school.zip_code %></td>
          </tr>
          <tr>
            <td colspan="2"><i class="fa fa-map-marker space-name color-blue"><span>地址:</span></i><%= @school.address %>
            </td>
          </tr>
          <tr>
            <td colspan="2"><i class="fa fa-map space-name color-blue"><span>向导:</span></i><%= @school.direction %></td>
          </tr>
          <tr>
            <td colspan="2"><i class="fa fa-mouse-pointer space-name color-blue"><span>学校主页:</span></i>
              <a href="<%= @school.home_page %>" target="_blank"><%= @school.home_page %></a></td>
          </tr>
          <tr>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td><i class="fa fa-flag space-name color-blue"><span>成立方:</span></i><%= @school.establisher %></td>
            <td><i class="fa fa-address-card space-name color-blue"><span>法人:</span></i><%= @school.representative %>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-university space-name color-blue"><span>校长:</span></i><%= @school.principal %></td>
            <td><i class="fa fa-history space-name color-blue"><span>开办时间:</span></i><%= @school.start_date %></td>
          </tr>
          <tr>
            <td><i class="fa fa-user space-name color-blue"><span>教员数:</span></i><%= @school.teacher_mun %></td>
            <td><i class="fa fa-users space-name color-blue"><span>容纳学生数:</span></i><%= @school.capacity %></td>
          </tr>
          <tr>
            <td><i class="fa fa-reorder space-name color-blue"><span>入学资格:</span></i><%= @school.admission %></td>
            <td><i class="fa fa-search space-name color-blue"><span>入学审查:</span></i><%= @school.selection %></td>
          </tr>
        </table>
      </div>
      <div class="col-4">
        <img src="<%= @school.img_url %>" class="rounded img-thumbnail"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="google_map"></div>
      </div>
    </div>
  </div>

  <div class="bd-callout bd-callout-orange">
    <h4 style="margin-bottom: 10px;text-align: center" class="color-orange">学生评论</h4>

    <div class="row" style="width: 500px">
      <canvas id="commentChart"
              data-location-score="<%= @school.comments.average(:location_score) %>"
              data-environment-score="<%= @school.comments.average(:environment_score) %>"
              data-service-score="<%= @school.comments.average(:service_score) %>"
              data-progression-score="<%= @school.comments.average(:progression_score) %>"
              data-teaching-score="<%= @school.comments.average(:teaching_score) %>"
              data-fee-score="<%= @school.comments.average(:fee_score) %>"
      ></canvas>
    </div>

    <% @school.comments.each do |comment| %>
      <div style="border-radius: 5px; border: 1px solid #000;padding: 10px;margin-top: 20px">
        <div>
          <span class="color-orange">匿名用户</span>
          <span style="margin-left: 50px;color: #999999"> <%= comment.created_at.to_s %></span>
        </div>
        <div class="color-blue" style="margin: 10px">
          <span style="margin-right: 10px;">地理位置: <%= comment.location_score %></span>
          <span style="margin-right: 10px;">教学环境: <%= comment.environment_score %></span>
          <span style="margin-right: 10px;">学校服务: <%= comment.service_score %></span>
          <span style="margin-right: 10px;">升学情况: <%= comment.progression_score %></span>
          <span style="margin-right: 10px;">教学质量: <%= comment.teaching_score %></span>
          <span style="margin-right: 10px;">学费费用: <%= comment.fee_score %></span>
        </div>
        <div style="margin: 15px"> <%= comment.content %></div>
      </div>
    <% end %>
  </div>

  <div class="bd-callout bd-callout-green">
    <h4 style="margin-bottom: 10px;text-align: center" class="color-green">详细情报</h4>
    <div class="row">
      <div class="col-12">
        <i class="fa fa-info space-name color-green"><span>学校简介:</span></i><%= @school.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="course_div"></div>
    </div>
    <div class="row">
      <div class="col-12" id="student_div"></div>
    </div>
  </div>

  <div class="bd-callout bd-callout-blue">
    <h4 style="margin-bottom: 10px;text-align: center" class="color-blue">学校实绩</h4>
    <div class="row">
      <div class="col-12" id="jpt_div" data-id="<%= @school.id %>" data-la="<%= @school.latitude %>" data-lo="<%= @school.longitude %>"></div>
    </div>

    <div class="row">
      <div class="col-12" id="graduate_div"></div>
    </div>
  </div>

</div>
<%= stylesheet_link_tag 'schools', media: 'all' %>
<%= javascript_include_tag 'schools/show' %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUhJPrs97p0rUTWSwB9Pu0dtQ-3AcN4t0&callback=init_map"
        type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
    if ($('#jpt_div').attr('data-id')) {
      init_school_show();
    }
  });
</script>

