<!DOCTYPE html>
<html>
  <head>
    <title>日本留学通</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/navbar'%>
  </head>

  <body>

    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
