<!DOCTYPE html>
<html>
  <head>
    <title>日留查询通</title>
    <%= csrf_meta_tags %>
    <link rel="bookmark" type="image/x-icon" href="images/LOGO.png"/>
    <link rel="shortcut icon" href="images/LOGO.png">
    <link rel="icon" href="images/LOGO.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/navbar'%>
  </head>

  <body>

    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
